<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="row mb-3">
    <h2>{{user.name}}'s Reservations</h2>
  </div>
  <ng-container *ngIf="currentRole; else adminBlock">
    <app-custom-table [dataSource]="reservations" [tableConfig]="tableConfig" (emitter)="dispatch($event)"></app-custom-table></ng-container>
  <ng-template #adminBlock>
    <app-custom-table [dataSource]="reservations" [tableConfig]="adminResTable" (emitter)="dispatch($event)"></app-custom-table>
  </ng-template>
  <br>
  <div class="row mt-3" *ngIf="!currentRole">
    <div class="col">
      <div class="d-flex flex-row-reverse">
        <app-custom-button [btnType]="backBtn" (click)="back()"></app-custom-button>
      </div>
    </div>
  </div>
</div>
<hr>
