table {
  width: 100%
}

.hover:hover {
  background-color: aqua;
}

.clickable:hover {
  cursor: pointer;
}

.vertical-align {
  vertical-align: middle;
}

.align-content-right {
  horiz-align: right;
}
