<div class="container p-2">
  <div class="d-flex flex-lg-row justify-content-center">
    <div>
      Show :
      <select #nOfPages class="custom-select custom-select-sm" (input)="countPages(nOfPages.value); setCurrentPage(0)">
        <ng-container *ngFor="let option of tableConfig.pagination.itemPerPageOptions">
          <option value="{{option}}">
            {{option}}
          </option>
        </ng-container>
      </select>
       Elements
    </div>
    <div>
      <input #searchBox (input)="searchBy(searchBox.value, selectBox.value); countPages(currentElementPerPage.toString());"
            placeholder="Search..." class="input-group-text mr-1" style="background-color: white">
    </div>
    <div>
      <select #selectBox class="custom-select custom-select-sm">
        <ng-container *ngFor="let option of tableConfig.search.columns">
          <option value="{{option}}">
            <ng-container *ngFor="let header of tableConfig.headers">
              <ng-container *ngIf="option === header.key">
                {{header.label}}
              </ng-container>
            </ng-container>
          </option>
        </ng-container>
      </select>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    CurrentPage: {{currentPage + 1}} | Elements from {{currentPage * currentElementPerPage}} to
    <ng-container *ngIf="found > (currentPage * currentElementPerPage) + currentElementPerPage; else foundBlock">
      {{(currentPage * currentElementPerPage) + currentElementPerPage}}
    </ng-container>
    <ng-template #foundBlock>
      {{found}}
    </ng-template>
    | No. of Elements {{found}}
  </div>
  <table class="table table-bordered table-striped align-content-end">
    <tr>
      <th class="clickable" *ngFor="let header of tableConfig.headers" (click)="orderBy(header.key)">
        {{header.label}}
        <ng-container *ngIf="header.key === lastSortedColumn">
          <ng-container class="align-self-center" *ngIf="orderType; else elseBlock">
            <mat-icon class="material-icons-round vertical-align">expand_less</mat-icon>
          </ng-container>
          <ng-template #elseBlock>
            <mat-icon class="material-icons-round vertical-align">keyboard_arrow_down</mat-icon>
          </ng-template>
        </ng-container>
      </th>
      <th style="width: 40%">
        Actions
      </th>
    </tr>
    <tr class="hover" *ngFor="let item of filteredList | paginator:currentPage:currentElementPerPage">
      <td *ngFor="let header of tableConfig.headers">
        {{item[header.key]}}
      </td>
      <td>
          <ng-container *ngFor="let button of tableConfig.actions">
            <app-custom-button [btnType]="button" [route]="item" (click)="btnClicked(button.text, item)"></app-custom-button>
          </ng-container>
      </td>
    </tr>
  </table>
  <div class="d-flex justify-content-center">
    CurrentPage: {{currentPage + 1}} | Elements from {{currentPage * currentElementPerPage}} to
    <ng-container *ngIf="found > (currentPage * currentElementPerPage) + currentElementPerPage; else foundBlock">
      {{(currentPage * currentElementPerPage) + currentElementPerPage}}
    </ng-container>
    <ng-template #foundBlock>
      {{found}}
    </ng-template>
    | No. of Elements {{found}}
  </div>
  <div class="d-flex justify-content-center">
    <div class="mr-2">
      <ng-container *ngIf="currentPage > 0; else previousDisabled">
        <button type="button" class="btn btn-info" (click)="setCurrentPage(currentPage - 1)"><</button>
      </ng-container>
      <ng-template #previousDisabled>
        <button type="button" class="btn btn-info" disabled><</button>
      </ng-template>
    </div>
    <div class="d-inline-flex vertical-align">
      <ng-container *ngFor="let pageLink of linkNumber">
        <ng-container *ngIf="pageLink != currentPage + 1; else disabledBtn">
          <button type="button" class="btn btn-info" (click)="setCurrentPage(pageLink - 1)">
            {{pageLink}}
          </button>
        </ng-container>
        <ng-template #disabledBtn>
          <button type="button" class="btn btn-info" disabled>
            {{pageLink}}
          </button>
        </ng-template>
      </ng-container>
    </div>
    <div class="ml-2">
      <ng-container *ngIf="currentPage < pagesNumber - 1; else nextDisabled">
        <button type="button" class="btn btn-info" (click)="setCurrentPage(currentPage + 1)">></button>
      </ng-container>
      <ng-template #nextDisabled>
        <button type="button" class="btn btn-info" disabled>></button>
      </ng-template>
    </div>
  </div>
    <ng-container *ngIf="test !== null">
      Selected:
      <ng-container *ngFor="let header of tableConfig.headers">
         {{test.item[header.key]}} |
      </ng-container>
       {{test.action}}
  </ng-container>
</div>
