<table class="table table-bordered table-striped">
  <tr>
    <th *ngFor="let header of tableConfig.headers">
      {{header.label}}
    </th>
    <th>
      Actions
    </th>
  </tr>
  <tr *ngFor="let item of dataSource">
    <td *ngFor="let header of tableConfig.headers">
      {{item[header.key]}}
    </td>
    <td class="form-inline">
      <div class="col" *ngFor="let button of buttons">
        <app-custom-button [btnType]="button" [route]="'Hello'" (outPut)="button.btnAction($event)"></app-custom-button>
      </div>
    </td>
  </tr>
</table>
