<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="card">
    <div class="card-header">
      <h2>{{actionType}} {{theClass}}</h2>
    </div>
    <div class="card-body">
<ng-container *ngFor="let key of keys">
  <ng-container *ngIf="key !== 'id' && key !== 'password'">
    <ng-container *ngIf="isDate(object[key]); else elseBlock">
      <div class="row mb-2">
        <label for="user-{{key}}" class="col-form-label mr-2">{{key}}:</label>
        <input type="date" [(ngModel)]="object[key]" min="{{object[key]}}">
      </div>
    </ng-container>
    <ng-template #elseBlock>
      <div class="row mb-2">
        <label for="user-{{key}}" class="col-form-label mr-2">{{key}}:</label>
        <input id="user-{{key}}" type="text" [(ngModel)]="object[key]" class="form-text"/>
      </div>
    </ng-template>
  </ng-container>
</ng-container>
    </div>
    <div class="card-footer">
  <div class="row form-inline">
    <ng-container *ngIf="actionType === 'add'; else editBlock">
      <app-custom-button [btnType]="addBtn" (emitter)="actionDispatcher($event)"></app-custom-button>
    </ng-container>
    <ng-template #editBlock>
      <app-custom-button [btnType]="editBtn" (emitter)="actionDispatcher($event)"></app-custom-button>
    </ng-template>
    <app-custom-button [btnType]="cancelBtn" (emitter)="back()"></app-custom-button>
  </div>
    </div>
</div>
</div>
<h1 *ngIf="error" style="color: red"> Error </h1>
<hr>
<app-custom-form [obj]="object"></app-custom-form>
