<app-nav-bar></app-nav-bar>
<ng-container *ngIf="currentUser$ | async as user ">
  <div class="container">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col">
            <h2>{{user.username}}'s Profile</h2>
          </div>
          <div class="col">
            <div class="d-flex flex-row-reverse">
              <ng-container *ngIf="editMode; else editBlock">
                <app-custom-button [btnType]="cancelBtn" (emitter)="btnClick($event)"></app-custom-button>
              </ng-container>
              <ng-template #editBlock>
                <app-custom-button [btnType]="editBtn" (emitter)="btnClick($event)"></app-custom-button>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <div class="row">
              <div class="col">
                <label for="name">Name</label>
                <input id="name" type="text" name="name" class="form-control" [ngModelOptions]="{standalone: true}"
                      required minlength="2" [(ngModel)]="user.name" #name="ngModel" [disabled]="!editMode">
                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                  <div *ngIf="name.errors.required">
                    Name is required
                  </div>
                  <div *ngIf="name.errors.minlength">
                    Name must be at least 2 character long
                  </div>
                </div>
              </div>
              <div class="col">
                <label for="lastname">Last Name</label>
                <input id="lastname" name="lastName" type="text" class="form-control" [ngModelOptions]="{standalone: true}"
                       required minlength="2" [(ngModel)]="user.lastName" #lastName="ngModel" [disabled]="!editMode">
                <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger">
                  <div *ngIf="lastName.errors.required">
                    Last Name is required
                  </div>
                  <div *ngIf="lastName.errors.minlength">
                    Last Name must be at least 2 character long
                  </div>
                </div>
              </div>
            </div>
              <div class="row">
                <div class="col">
                  <label for="email">Email</label>
                  <input id="email" name="email" type="email" class="form-control" [ngModelOptions]="{standalone: true}"
                         required email [(ngModel)]="user.email" #email="ngModel" [disabled]="!editMode">
                  <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger">
                    <div *ngIf="email.errors.required">
                      Email is required
                    </div>
                    <div *ngIf="email.errors.email">
                      Email isn't valid
                    </div>
                  </div>
                </div>
                <div class="col">
                  <label for="username">Username</label>
                  <input id="username" name="username" type="text" class="form-control" [ngModelOptions]="{standalone: true}"
                         required minlength="4" [(ngModel)]="user.username" #username="ngModel" [disabled]="!editMode">
                  <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
                    <div *ngIf="username.errors.required">
                      Username is required
                    </div>
                    <div *ngIf="username.errors.minlength">
                      Username must be at least 4 character long
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col col-sm">
                  <label for="dateOfBirth">Date of birth</label>
                  <input id="dateOfBirth" name="date" type="date" [ngModelOptions]="{standalone: true}"
                         required [(ngModel)]="user.dateOfBirth" class="form-control" #date="ngModel" [disabled]="!editMode">
                  <div *ngIf="date.invalid && (date.dirty || date.touched)" class="alert alert-danger">
                    <div *ngIf="date.errors.required">
                      Username is required
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </form>
      <div class="card-footer">
        <div class="d-flex flex-row-reverse">
          <ng-container *ngIf="editMode;">
            <app-custom-button [btnType]="saveBtn" (click)="save(user)"></app-custom-button>
          </ng-container>
          <app-modal-basic (emitter)="checkPswd(user, $event)"></app-modal-basic>
        </div>
      </div>
    </div>
  </div>
  </div>
  <hr>
  <app-custom-form [obj]="user" [actionType]="'add'" [objClass]="'customer'"></app-custom-form>
</ng-container>
