<app-nav-bar></app-nav-bar>
<ng-container *ngIf="currentUser$ | async as user ">
  <div class="container">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col">
            <h2>{{user.username}}'s Profile</h2>
          </div>
          <ng-container *ngIf="editMode; else editBlock">
            <div class="col col-sm-3">
              <app-custom-button [btnType]="cancelBtn" (emitter)="btnClick($event)"></app-custom-button>
            </div>
          </ng-container>
          <ng-template #editBlock>
            <div class="col col-sm-3">
              <app-custom-button [btnType]="editBtn" (emitter)="btnClick($event)"></app-custom-button>
            </div>
          </ng-template>
        </div>
      </div>
      <div class="card-body">
      <ng-container *ngIf="editMode; else displayBlock">
        <div class="row">
          <div class="col">
            <label for="name" class="mr-2">Name</label>
            <input id="name" type="text" [(ngModel)]="user.name" class="form-control">
          </div>
          <div class="col">
            <label for="lastname" class="mr-2">Last Name</label>
            <input id="lastname" type="text" [(ngModel)]="user.lastName" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="email" class="mr-2">Email</label>
            <input id="email" type="text" [(ngModel)]="user.email" class="form-control">
          </div>
          <div class="col">
            <label for="username" class="mr-2">Username</label>
            <input id="username" type="text" [(ngModel)]="user.username" class="form-control">
          </div>
        </div>
      </ng-container>
      <ng-template #displayBlock>
        <div class="row">
          <div class="col">
            Name
            <div class="form-control">
              {{user.name}}
            </div>
          </div>
          <div class="col">
            Last Name
            <div class="form-control">
              {{user.lastName}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            Email
            <div class="form-control">
              {{user.email}}
            </div>
          </div>
          <div class="col">
            Username
            <div class="form-control">
              {{user.username}}
            </div>
          </div>
        </div>
      </ng-template>
      </div>
      <div class="card-footer">
        <div class="d-flex flex-row-reverse">
          <ng-container *ngIf="editMode">
            <app-custom-button [btnType]="saveBtn" (click)="save(user)"></app-custom-button>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</ng-container>
