<app-nav-bar></app-nav-bar>
<ng-container *ngIf="currentUser$ | async as user ">
  <div class="container">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col">
            <h2>{{user.username}}'s Profile</h2>
          </div>
          <div class="col">
            <div class="d-flex flex-row-reverse">
              <ng-container *ngIf="editMode; else editBlock">
                <app-custom-button [btnType]="cancelBtn" (emitter)="btnClick($event)"></app-custom-button>
              </ng-container>
              <ng-template #editBlock>
                <app-custom-button [btnType]="editBtn" (emitter)="btnClick($event)"></app-custom-button>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
      <ng-container *ngIf="editMode; else displayBlock">
        <div class="row">
          <div class="col">
            <label for="name">Name</label>
            <input id="name" type="text" [(ngModel)]="user.name" class="form-control">
          </div>
          <div class="col">
            <label for="lastname">Last Name</label>
            <input id="lastname" type="text" [(ngModel)]="user.lastName" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="email">Email</label>
            <input id="email" type="text" [(ngModel)]="user.email" class="form-control">
          </div>
          <div class="col">
            <label for="username">Username</label>
            <input id="username" type="text" [(ngModel)]="user.username" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col col-sm">
            <label for="dateOfBirth">Date of birth</label>
            <input id="dateOfBirth" type="date" [(ngModel)]="user.dateOfBirth" class="form-control">
          </div>
        </div>
      </ng-container>
      <ng-template #displayBlock>
        <div class="row">
          <div class="col">
            Name
            <div class="form-control" readonly="true">
              {{user.name}}
            </div>
          </div>
          <div class="col">
            Last Name
            <div class="form-control" readonly="true">
              {{user.lastName}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            Email
            <div class="form-control" readonly="true">
              {{user.email}}
            </div>
          </div>
          <div class="col">
            Username
            <div class="form-control" readonly="true">
              {{user.username}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            Date of Birth
            <div class="form-control" readonly="true">
              {{user.dateOfBirth}}
            </div>
          </div>
          <div class="col">
          </div>
        </div>
      </ng-template>
      </div>
      <div class="card-footer">
        <div class="d-flex flex-row-reverse">
          <ng-container *ngIf="editMode;">
            <app-custom-button [btnType]="saveBtn" (click)="save(user)"></app-custom-button>
          </ng-container>
          <app-modal-basic (emitter)="checkPswd(user, $event)"></app-modal-basic>
        </div>
      </div>
    </div>
  </div>
</ng-container>
