<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <a class="navbar-brand">CarRental</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <ng-container *ngIf="currentRole(); else customerBlock">
            <a class="nav-link" routerLink="/homepage/customers" routerLinkActive="active">Homepage</a>
          </ng-container>
          <ng-template #customerBlock>
            <a class="nav-link" routerLink="/homepage/customers/reservations/{{getCustomerId()}}" routerLinkActive="active">Homepage</a>
          </ng-template>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/carPark" routerLinkActive="active">Car Park</a>
        </li>
      </ul>
    </div>
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <button class="btn btn-success dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Reserved Area
        </button>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <ng-container *ngIf="currentRole(); else customerProfile">
            <a class="dropdown-item" routerLink="/profile" routerLinkActive="active">Profile</a>
          </ng-container>
          <ng-template #customerProfile>
            <a class="dropdown-item" routerLink="/homepage/customers/profile/{{getCustomerId()}}" routerLinkActive="active">Profile</a>
          </ng-template>
          <div class="dropdown-divider"></div>
          <div class="dropdown-item">
            <app-custom-button [btnType]="logoutBtn" (click)="logout()"></app-custom-button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>
