<div class="container" *ngIf="reservation">
    <div class="row">
      <div class="col">
        <label for="startDate"></label>
        <input class="form-control" #startDate id="startDate" type="date" min="{{reservation.startDate}}" [(ngModel)]="reservation.startDate">
      </div>
      <div class="col">
        <label for="endDate"></label>
        <input class="form-control" #endDate id="endDate" type="date" min="{{reservation.endDate}}" [(ngModel)]="reservation.endDate">
      </div>
      <ng-container *ngIf="action === 'add'; else saveBlock">
        <div class="col">
          <button type="button" class="btn btn-info" (click)="getAvailable(startDate.value, endDate.value)">Search</button>
        </div>
      </ng-container>
      <ng-template #saveBlock>
        <app-custom-button [btnType]="editBtn" (emitter)="btnAction($event)"></app-custom-button>
      </ng-template>
    </div>
  <ng-container *ngIf="action === 'add'">
    <ng-container *ngIf="available$ | async as Vehicles; else noVehicles">
      <app-custom-table [tableConfig]="tableConfig" [dataSource]="Vehicles" (emitter)="btnAction($event)"></app-custom-table>
    </ng-container>
  </ng-container>
  <ng-template #noVehicles>
    <h1>No vehicles available between the selected dates</h1>
  </ng-template>
    <div class="row">
      <app-custom-button [btnType]="cancelBtn" (emitter)="btnAction($event)"></app-custom-button>
    </div>
</div>
<hr>

