<app-nav-bar></app-nav-bar>
<div class="container">
  <div *ngIf="error">
    <app-alert-message [message]="errMsg" [type]="'error'" (emitter)="resetError($event)"></app-alert-message>
  </div>
  <ng-container *ngIf="currentUserRole(); else customerBlock">
    <app-custom-table [tableConfig]="vehicleTable" [dataSource]="vehicles" (emitter)="dispatch($event)"></app-custom-table>
  </ng-container>
  <ng-template #customerBlock>
    <app-custom-table [tableConfig]="cVehicleTable" [dataSource]="vehicles"></app-custom-table>
  </ng-template>
</div>
