<div class="card">
  <div class="card-header">
  <div class="row justify-content-center">
    <div class="col" *ngIf="addBtn">
      <app-custom-button [btnType]="addBtn" (emitter)="btnClicked('add', '')"></app-custom-button>
    </div>
    <div class="col">
      Show :
      <select #nOfPages class="custom-select custom-select-sm" style="width: min-content" (input)="countPages(nOfPages.value); setCurrentPage(0)">
        <ng-container *ngFor="let option of tableConfig.pagination.itemPerPageOptions">
          <option value="{{option}}">
            {{option}}
          </option>
        </ng-container>
      </select>
       Elements
    </div>
    <div class="form-inline">
      <ng-container *ngIf="isInDate(selectBox.value); else textBox">
        <input #searchDate type="date" class="form-control" (keyup)="searchBy(searchDate.value, selectBox.value)">
      </ng-container>
      <ng-template #textBox>
      <input #searchBox (input)="searchBy(searchBox.value, selectBox.value); countPages(currentElementPerPage.toString());"
            placeholder="Search..." class="input-group-text mr-1" style="background-color: white">
      </ng-template>
      <select #selectBox class="custom-select custom-select-sm" (change)="isInDate(selectBox.value)">
        <ng-container *ngFor="let option of tableConfig.search.columns">
          <option value="{{option}}">
            <ng-container *ngFor="let header of tableConfig.headers">
              <ng-container *ngIf="option === header.key">
                {{header.label}}
              </ng-container>
            </ng-container>
          </option>
        </ng-container>
      </select>
    </div>
  </div>
    <hr>
  <div class="d-flex justify-content-center">
    CurrentPage: {{currentPage + 1}} | Elements from {{currentPage * currentElementPerPage + 1}} to
    <ng-container *ngIf="found > (currentPage * currentElementPerPage) + currentElementPerPage; else foundBlock">
      {{(currentPage * currentElementPerPage) + currentElementPerPage}}
    </ng-container>
    <ng-template #foundBlock>
      {{found}}
    </ng-template>
    | No. of Elements {{found}}
  </div>
  </div>
  <div class="card-body">
    <ng-container *ngIf="dataSource && dataSource.length > 0; else emptyBlock">
      <table class="table table-bordered table-striped align-content-end">
        <tr>
          <th class="clickable" *ngFor="let header of tableConfig.headers" (click)="orderBy(header.key)">
            {{header.label}}
            <ng-container *ngIf="header.key === lastSortedColumn">
              <ng-container class="align-self-center" *ngIf="orderType; else elseBlock">
                <mat-icon class="material-icons-round vertical-align">expand_less</mat-icon>
              </ng-container>
              <ng-template #elseBlock>
                <mat-icon class="material-icons-round vertical-align">keyboard_arrow_down</mat-icon>
              </ng-template>
            </ng-container>
          </th>
          <ng-container *ngIf="tableConfig.actions.length > 0">
            <th>
              Actions
            </th>
          </ng-container>
        </tr>
        <tr class="hover" *ngFor="let item of filteredList | paginator:currentPage:currentElementPerPage">
          <td *ngFor="let header of tableConfig.headers">
            <ng-container *ngIf="isDate(item[header.key], header.key); else notDate">
              {{item[header.key] | date: 'dd/MM/yyyy'}}
            </ng-container>
            <ng-template #notDate>
              {{item[header.key]}}
            </ng-template>
          </td>
          <ng-container *ngIf="tableConfig.actions.length > 0">
            <td>
              <ng-container *ngFor="let button of tableConfig.actions">
                <ng-container *ngIf="button !== addBtn">
                  <app-custom-button [btnType]="button" (emitter)="btnClicked($event, item)"></app-custom-button>
                </ng-container>
              </ng-container>
            </td>
          </ng-container>
        </tr>
      </table>
    </ng-container>
    <ng-template #emptyBlock>
      <app-alert-message [message]="'Nothing found'" [type]="'message'"></app-alert-message>
    </ng-template>
  </div>
  <div class="card-footer">
  <div class="d-flex justify-content-center">
    CurrentPage: {{currentPage + 1}} | Elements from {{currentPage * currentElementPerPage + 1}} to
    <ng-container *ngIf="found > (currentPage * currentElementPerPage) + currentElementPerPage; else foundBlock">
      {{(currentPage * currentElementPerPage) + currentElementPerPage}}
    </ng-container>
    <ng-template #foundBlock>
      {{found}}
    </ng-template>
    | No. of Elements {{found}}
  </div>
    <hr>
  <div class="d-flex justify-content-center">
    <div class="mr-2">
      <button type="button" class="btn btn-info" (click)="setCurrentPage(currentPage - 1)"
              [disabled]="!(currentPage > 0)">
        <
      </button>
    </div>
    <div class="d-inline-flex vertical-align">
      <ng-container *ngFor="let pageLink of linkNumber">
        <button type="button" class="btn btn-info" (click)="setCurrentPage(pageLink - 1)"
                [disabled]="!(pageLink != currentPage + 1)">
          {{pageLink}}
        </button>
      </ng-container>
    </div>
    <div class="ml-2">
      <button type="button" class="btn btn-info" (click)="setCurrentPage(currentPage + 1)"
              [disabled]="!(currentPage < pagesNumber - 1)">
        >
      </button>
    </div>
  </div>
  </div>
</div>
